.vp-doc {
  & > div .vp-table {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    & > table {
      display: table;
      margin-top: 0;
      border-collapse: collapse;
      width: 100%;
      background-color: var(--bg-color);
      font-size: 15px;
      line-height: 1.5em;

      tr {
        border-top: none !important;
        td:nth-child(2) {
          font-family: var(--font-family);
        }
      }

      th,
      td {
        border: none;
        white-space: nowrap;
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        padding: 0.6em 1em;
        text-align: left;
        white-space: pre-wrap;
        min-width: 100px;
      }

      thead tr:first-child th {
        border-top: none;
      }

      tbody tr td:first-child {
        font-family: var(--font-family-mono);
      }
    }
  }

  tr:nth-child(2n) {
    background-color: unset !important;
  }

  .vp-table + h2 {
    margin: 16px 0 16px;
    padding: 0;
    border-top: none;
  }
}

.VPDoc > .container > .content {
  background-image: radial-gradient(transparent 1px, var(--bg-color) 1px);
  background-size: 4px 4px;
  .content-container {
    max-width: 100% !important;
  }
}
